body {
    margin: 0;
    padding: 0;
}
/*common*/
#serverResult{
    display:block;
}
/*Home*/
.homeContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    background-color: #ff9900;
}
.headline {
    text-align: center;
    margin-top: 0;
    color: #fff;
}
.homeContainer div {
    background-color: #f5f5f5;
    width: 190px;
    margin-bottom: 10px;
    text-align: center;
}
.homeContainer div a {
    text-decoration: none;
    display: block;
    color: #ff9900;
    font-family: arial;
    font-size: 16px;
    transition: all .3s;
    padding: 12px 0px;
    border: 1px solid #f5f5f5;
}
.homeContainer div a:hover {
    background-color: #ff9900;
    color: #fff;
}
/*IsRegistered*/
.formWrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-flow: column;
    background-color: #ff9900;
}
.auto-style4 {
    height: 37px;
}
.auto-style5 {
    width: 512px;
}
.auto-style6 {
    height: 37px;
    width: 281px;
}
.auto-style7 {
    width: 281px;
}
.commonForm {
    border: 1px solid #f5f5f5;
    padding: 50px;
}
.commonForm input[type="text"] {
    padding: 14px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.commonForm input[type="button"],
.commonForm input[type="submit"] {
    border-radius: 5px;
    padding: 12px 10px;
    cursor: pointer;
    margin: 5px;
    width: 100px;
    color: #ff9900;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    transition: all .3s;
}
.commonForm input[type="submit"]:hover,
.commonForm input[type="button"]:hover {
    background-color: #ff9900;
    color: #fff;
}
/*ChangeID*/
.changeIDForm{
    min-width: 515px;
}
.changeIDForm input[type="text"] {
    width: 95% !important;
}
.changeIDForm input[type="button"],
.changeIDForm input[type="submit"] {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 20px;
}
/*DeleteID*/
.deleteIDForm {
    min-width: 515px !important;
}
.deleteIDForm input[type="text"] {
    width: 95% !important;
}
.deleteIDForm input[type="button"],
.deleteIDForm input[type="submit"] {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 20px;
}
/*Register*/
.registerForm{
    min-width: 515px;
}
.registerForm label{
    display: block;
    color: #fff;
}
.registerForm select {
    padding: 14px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}
.registerForm input[type="text"] {
    width: 95%;
}
.registerForm input[type="submit"], 
.registerForm input[type="button"] {
    border-radius: 5px;
    padding: 12px 0px;
    cursor: pointer;
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    transition: all .3s;
    color: #ff9900;
}
.registerForm .currentDeviceCaption {
    float: left;
    margin-right: 5px;
}
/*Identify*/
.identifyForm {
    min-width: 515px;
}
.identifyForm label {
    display: block;
    color: #fff;
}
.identifyForm select {
    padding: 14px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}
.identifyForm input[type="text"] {
    width: 95%;
}
.identifyForm input[type="submit"], 
.identifyForm input[type="button"] {
    border-radius: 5px;
    padding: 12px 0px;
    cursor: pointer;
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    transition: all .3s;
    color: #ff9900;
}
.identifyForm .currentDeviceCaption {
    float: left;
    margin-right: 5px;
}
/*Verify*/
.verifyForm {
    min-width: 515px;
}
.verifyForm label {
    display: block;
    color: #fff;
}
.verifyForm select {
    padding: 14px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}
.verifyForm input[type="text"] {
    width: 95%;
}
.verifyForm input[type="submit"],
.verifyForm input[type="button"] {
    border-radius: 5px;
    padding: 12px 0px;
    cursor: pointer;
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    transition: all .3s;
    color: #ff9900;
}
.verifyForm .currentDeviceCaption {
    float: left;
    margin-right: 5px;
}
/*Update*/
.updateForm {
    min-width: 515px;
}

.updateForm label {
    display: block;
    color: #fff;
}
.updateForm select {
    padding: 14px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}
.updateForm input[type="text"] {
    width: 95%;
}
.updateForm input[type="submit"],
.updateForm input[type="button"] {
    border-radius: 5px;
    padding: 12px 0px;
    cursor: pointer;
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    transition: all .3s;
    color: #ff9900;
}
.updateForm .currentDeviceCaption {
    float: left;
    margin-right: 5px;
}
/*ActiveDevice*/
.iholder {
    border: 1px solid #f5f5f5;
    padding: 50px;
    width: 515px;
}
.iholder label {
    display: inline-block;
    width: 150px;
    color: #fff;
}
.iholder select {
    padding: 14px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}
.iholder input[type="submit"], 
.iholder button, 
.iholder input[type="button"] {
    border-radius: 5px;
    padding: 12px 0px;
    cursor: pointer;
    margin: 0px;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    transition: all .3s;
    color: #ff9900;
}
.iholder button:hover,
.iholder input[type="submit"]:hover,
.iholder input[type="button"]:hover {
    background-color: #ff9900;
    color: #fff;
}